@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

$letra1: 'Domine', serif;
$letra2: 'Oranienbaum',serif;
$color1: #d29baa;
$color2: #f2dada;
$color3: rgb(252, 252, 252);

@mixin contenedor($background){
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background;
    border-radius: 0.313rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    max-width: 37.5rem;
    width: 100%;
}

@keyframes slidein {
    from {
        margin-bottom: 40%;
        width: 300%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}

*{
  margin: 0;
  box-sizing: border-box;
}

main {
    font-family: $letra2;
}

.btn-outline-primary {
  --bs-btn-color: #d29baa!important;
  --bs-btn-border-color: #d29baa!important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d29baa!important;
  --bs-btn-hover-border-color: #d29baa!important;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d29baa!important;
  --bs-btn-active-border-color: #d29baa!important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d29baa!important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d29baa!important;
  --bs-gradient: none;
}

header{
    h1{
        font-family: 'Oranienbaum',serif;
        margin-bottom: 0;
    }
    ul{
        list-style:none;
        gap: 10px;
        
        a{
            text-decoration: none;
            color: black;
        }  
    }
} 

.nuevas-recetas{
    h1{
        margin-top: 15px;
        font-size: 60px;
    }
}

.recetas{   
    .card {
        border: 3px solid $color1;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;
        background-color: white;

        &:hover{
            transform: scale(1.03);
        }
    }
    img{
        width: 100%;
    }
    h5{
        font-size: 25px;
    }
}

.platos-destacados {
    background-image: url(Multimedia/fondococina.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul{
        display: block;
        max-width: 480px;
    }

    h1{
        font-size: 60px;
        margin-top: 15px;
    }

    .mi-clase{
        font-size: 25px;
    }
}

#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Multimedia/medialunitas.jpg);

        .pag-contacto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;

                h1 {
                    padding: 2rem;
                    padding-bottom: 1rem;
                    font-family: $letra1;
                    text-align: center;
                }
            
                .contacto-rellenar {
                    @include contenedor($color1);
                        label {
                            margin-bottom: 10px;
                            font-size: 18px;
                        }

                        input, textarea {
                            margin-bottom: 20px;
                            width: 100%;
                            padding: 10px;
                            border: none;
                            border-radius: 5px;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                        }

                        button {
                            background-color: $color2;
                            color: black;
                            border: none;
                            border-radius: 5px;
                            padding: 7px 15px;
                            font-size: 1.05rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
                            transition: all 0.2s ease-in-out;
                            cursor: pointer;

                            &:hover {
                                background-color: #ad7b89;
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                            }
                        }
                }
        }
}

#recetasvarias {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Multimedia/fondorosa.jpg);

    .temas-recetas {
        width: 80%;
        background-color: $color3;
        padding: 1.3rem;
    
        .receta-custom {
            background-color: $color1;
        }
    
        .fotos-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "foto1 foto1 foto2 foto4"
                "foto1 foto1 foto3 foto5";
    
                .foto1 { grid-area: foto1; }
    
                .foto2 { grid-area: foto2; }
    
                .foto3 { grid-area: foto3; }
    
                .foto4 { grid-area: foto4; }
    
                .foto5 { grid-area: foto5; }
            }
    }
}

.bg-custom {
    background-color: $color1;
}

#nosotros{
    min-height: calc(100vh - 206px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    background-image: linear-gradient(to top, $color1 , $color2);

        .quienes-somos {
            @include contenedor($color1);
            animation-duration: 2s;
            animation-name: slidein;

                h1 {
                    text-align: center;
                    font-size: 2rem;
                    margin-bottom: 20px;
                }

                p {
                    text-align: justify;
                    font-size: 1.2rem;
                    line-height: 1.5;
                }
        }
}

#main-receta{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Multimedia/fondorosa.jpg);

        .superpuesta {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 70%;
            height: 100%;
            background-color: $color3;
            padding: 4%;
            text-align: center;

                img {
                    width: 90%;
                }

                h1 {
                    margin-top: 15px;
                }
        }
}