@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto&display=swap');

$letra1: 'Roboto', sans-serif;

// arreglar el tema de la letra

*{
  margin: 0;
  box-sizing: border-box;
}

main {
    font-family: 'Oranienbaum',serif;
}

.btn-outline-primary {
  --bs-btn-color: #d29baa!important;
  --bs-btn-border-color: #d29baa!important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d29baa!important;
  --bs-btn-hover-border-color: #d29baa!important;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d29baa!important;
  --bs-btn-active-border-color: #d29baa!important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d29baa!important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d29baa!important;
  --bs-gradient: none;
}

header{
    h1{
        font-family: 'Oranienbaum',serif;
        margin-bottom: 0;
    }
    ul{
        list-style:none;
        gap: 10px;
        
        a{
            text-decoration: none;
            color: black;
        }  
    }
} 

.nuevas-recetas{
    h1{
        margin-top: 15px;
        font-size: 60px;
    }
}

.recetas{   
    .card {
        border: 3px solid #d29baa;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;
        background-color: white;

        &:hover{
            transform: scale(1.03);
        }
    }
    img{
        width: 100%;
    }
    h5{
        font-size: 25px;
    }
}

.platos-destacados {
    background-image: url(Multimedia/fondococina.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul{
        display: block;
        max-width: 480px;
    }

    h1{
        font-size: 60px;
        margin-top: 15px;
    }

    .mi-clase{
        font-size: 25px;
    }
}

#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Multimedia/medialunitas.jpg);

        .pag-contacto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

                h1 {
                    font-family: $letra1;
                }
            
                .contacto-rellenar {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    max-width: 600px;
                    width: 100%;
                    padding: 20px;
                    background-color: #d29baa;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                        label {
                            margin-bottom: 10px;
                        }

                        input, textarea {
                            margin-bottom: 20px;
                            width: 100%;
                            padding: 10px;
                            border: none;
                            border-radius: 5px;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                        }
                }
        }
}

.quienes-somos{
    h1{
        font-size: 35px;
    }

    p{
        font-size: 18px;
    }
}

.bg-custom{
  background-color: #d29baa
}

.fotos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "foto1 foto1 foto2 foto4"
        "foto1 foto1 foto3 foto5";
}

.foto1 { grid-area: foto1; }

.foto2 { grid-area: foto2; }

.foto3 { grid-area: foto3; }

.foto4 { grid-area: foto4; }

.foto5 { grid-area: foto5; }

#contacto{
  min-height: calc(100vh - 206px);
}